app/frontend/node_modules
app/backend/public/storage
app/backend/storage/*.key
app/backend/infra
app/backend/vendor
app/backend/.env
app/backend/.phpunit.result.cache
app/backend/Homestead.json
app/backend/Homestead.yaml
app/backend/npm-debug.log
app/backend/yarn-error.log
app/backend/storage/logs
app/backend/.htaccess
app/backend/config/database.php
app/DockerTemplate-master/*
app/DockerTemplate-master/DockerTemplate-master/
app/DockerTemplate-master/DockerTemplate-master/docker/mysql/data/ecommercevuejs/